{% extends "base.html" %}

{% load static %}



{% block title %}Success{% endblock %}

{% block content %}
<style>
    body {
        background-color: #f2f2f2;
        color: #333333;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    b {
        color: #e92dd0; /* Green color for success */
        text-align: center;
        font-size: 3rem;
        margin-bottom: 30px;
        text-shadow: 2px 2px 4px rgba(116, 243, 32, 0.808);
        animation: scaleUp 2s ease-in-out;
    }

    @keyframes scaleUp {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
    
    p {
        margin-bottom: 20px;
    }
</style>


<p><b>Your wishes were successfully sent... Thank you..!</b></p>
<h3><a href="http://127.0.0.1:8000/retrieve/" target="_blank">Preview uploaded wishes, images and videos</a></h3>
{% endblock %}
