

{% block title %}Success{% endblock %}

{% block content %}
<style>
    body {
        background-color: #f2f2f2;
        color: #333333;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    h1 {
        color: #0066cc;
    }
    
    p {
        margin-bottom: 20px;
    }
</style>

<h1>Success</h1>
<p>Your upload was successful!..Thank you</p>
<p><a href="http://127.0.0.1:8000/retrieve/" target="_blank">Preview uploaded images and videos</a></p>
{% endblock %}
